  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright contacto">
                        <i class="fa fa-phone-square"></i> +506 7017 6657 / <i class="fa fa-envelope"></i> <span class="e-mail" data-user="aloh" data-website="em.oyaug"></span>
                    </span>
                    <!--<ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </footer>