 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        <div class="text-center">
                            <a href="{{ post.link }}" title="Visite {{ post.title }}" class="btn btn-primary" target="blank">Visite {{ post.title }}</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <p>{{ post.description }}</p>
                            <dl>
                                <dt>Cliente</dt>
                                <dd><a href="{{ post.link }}">{{ post.client }}</a></dd>
                                <dt>Publicación</dt>
                                <dd>{{ post.publicacion }}</dd>
                                <dt>Agencia</dt>
                                <dd><a href="{{ post.link-agencia }}" target="_blank" title="{{ post.agencia }}">{{ post.agencia }}</a></dd>
                            </dl>
                            <div>{{ post.content }}</div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
